.Resume {
  min-height: 100vh;
  display: flex !important;
  margin: 10vh 10vw 20vh 10vw !important;
  color: #001b21;
  font-size: 14px;
}

.lst-kix_d52h1clnbs3c-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_d52h1clnbs3c-2 > li:before {
  content: "\0025a0  ";
}

.lst-kix_d52h1clnbs3c-6 > li:before {
  content: "\0025cf  ";
}

.lst-kix_d52h1clnbs3c-1 > li:before {
  content: "\0025cb  ";
}

.lst-kix_d52h1clnbs3c-7 > li:before {
  content: "\0025cb  ";
}

.lst-kix_d52h1clnbs3c-0 > li:before {
  content: "\00200b  ";
}

.lst-kix_d52h1clnbs3c-8 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_s3odskcgmnn5-0 {
  list-style-type: none;
}

ul.lst-kix_s3odskcgmnn5-1 {
  list-style-type: none;
}

ul.lst-kix_s3odskcgmnn5-2 {
  list-style-type: none;
}

ul.lst-kix_s3odskcgmnn5-3 {
  list-style-type: none;
}

ul.lst-kix_s3odskcgmnn5-4 {
  list-style-type: none;
}

ul.lst-kix_s3odskcgmnn5-5 {
  list-style-type: none;
}

ul.lst-kix_s3odskcgmnn5-6 {
  list-style-type: none;
}

ul.lst-kix_s3odskcgmnn5-7 {
  list-style-type: none;
}

.lst-kix_d52h1clnbs3c-4 > li:before {
  content: "\0025cb  ";
}

.lst-kix_8z6y753bmshn-4 > li:before {
  content: "\0025cb  ";
}

.lst-kix_8z6y753bmshn-6 > li:before {
  content: "\0025cf  ";
}

ul.lst-kix_qw52od1oyadm-1 {
  list-style-type: none;
}

.lst-kix_8z6y753bmshn-5 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_qw52od1oyadm-0 {
  list-style-type: none;
}

.lst-kix_8z6y753bmshn-1 > li:before {
  content: "\0025cb  ";
}

ul.lst-kix_qw52od1oyadm-3 {
  list-style-type: none;
}

ul.lst-kix_qw52od1oyadm-2 {
  list-style-type: none;
}

.lst-kix_8z6y753bmshn-0 > li:before {
  content: "\0027a2  ";
}

ul.lst-kix_qw52od1oyadm-5 {
  list-style-type: none;
}

.lst-kix_8z6y753bmshn-8 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_qw52od1oyadm-4 {
  list-style-type: none;
}

ul.lst-kix_qw52od1oyadm-7 {
  list-style-type: none;
}

ul.lst-kix_qw52od1oyadm-6 {
  list-style-type: none;
}

.lst-kix_8z6y753bmshn-7 > li:before {
  content: "\0025cb  ";
}

ul.lst-kix_qw52od1oyadm-8 {
  list-style-type: none;
}

ul.lst-kix_3expns8knkd9-2 {
  list-style-type: none;
}

ul.lst-kix_3expns8knkd9-1 {
  list-style-type: none;
}

ul.lst-kix_3expns8knkd9-4 {
  list-style-type: none;
}

ul.lst-kix_3expns8knkd9-3 {
  list-style-type: none;
}

ul.lst-kix_3expns8knkd9-0 {
  list-style-type: none;
}

.lst-kix_8z6y753bmshn-2 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_3expns8knkd9-6 {
  list-style-type: none;
}

.lst-kix_8z6y753bmshn-3 > li:before {
  content: "\0025cf  ";
}

ul.lst-kix_3expns8knkd9-5 {
  list-style-type: none;
}

ul.lst-kix_3expns8knkd9-8 {
  list-style-type: none;
}

ul.lst-kix_3expns8knkd9-7 {
  list-style-type: none;
}

.lst-kix_7ewhrxfqlg08-8 > li:before {
  content: "\0025a0  ";
}

.lst-kix_3expns8knkd9-0 > li:before {
  content: "\00200b  ";
}

.lst-kix_3expns8knkd9-1 > li:before {
  content: "\0025cb  ";
}

.lst-kix_3expns8knkd9-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_3expns8knkd9-2 > li:before {
  content: "\0025a0  ";
}

.lst-kix_3expns8knkd9-8 > li:before {
  content: "\0025a0  ";
}

.lst-kix_lec2477ivtm7-6 > li:before {
  content: "\0025cf  ";
}

.lst-kix_3expns8knkd9-7 > li:before {
  content: "\0025cb  ";
}

.lst-kix_lec2477ivtm7-5 > li:before {
  content: "\0025a0  ";
}

.lst-kix_lec2477ivtm7-7 > li:before {
  content: "\0025cb  ";
}

.lst-kix_3expns8knkd9-4 > li:before {
  content: "\0025cb  ";
}

ul.lst-kix_s3odskcgmnn5-8 {
  list-style-type: none;
}

.lst-kix_7ewhrxfqlg08-1 > li:before {
  content: "\0025cb  ";
}

.lst-kix_3expns8knkd9-5 > li:before {
  content: "\0025a0  ";
}

.lst-kix_7ewhrxfqlg08-0 > li:before {
  content: "\0027a2  ";
}

.lst-kix_7ewhrxfqlg08-2 > li:before {
  content: "\0025a0  ";
}

.lst-kix_lec2477ivtm7-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_3expns8knkd9-6 > li:before {
  content: "\0025cf  ";
}

.lst-kix_lec2477ivtm7-4 > li:before {
  content: "\0025cb  ";
}

.lst-kix_7ewhrxfqlg08-5 > li:before {
  content: "\0025a0  ";
}

.lst-kix_7ewhrxfqlg08-4 > li:before {
  content: "\0025cb  ";
}

.lst-kix_7ewhrxfqlg08-6 > li:before {
  content: "\0025cf  ";
}

ul.lst-kix_lec2477ivtm7-8 {
  list-style-type: none;
}

.lst-kix_7ewhrxfqlg08-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_7ewhrxfqlg08-7 > li:before {
  content: "\0025cb  ";
}

ul.lst-kix_lec2477ivtm7-7 {
  list-style-type: none;
}

ul.lst-kix_lec2477ivtm7-6 {
  list-style-type: none;
}

ul.lst-kix_lec2477ivtm7-5 {
  list-style-type: none;
}

ul.lst-kix_lec2477ivtm7-4 {
  list-style-type: none;
}

.lst-kix_qw52od1oyadm-8 > li:before {
  content: "\0025a0  ";
}

.lst-kix_lec2477ivtm7-2 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_lec2477ivtm7-3 {
  list-style-type: none;
}

ul.lst-kix_lec2477ivtm7-2 {
  list-style-type: none;
}

.lst-kix_qw52od1oyadm-7 > li:before {
  content: "\0025cb  ";
}

.lst-kix_lec2477ivtm7-1 > li:before {
  content: "\0025cb  ";
}

ul.lst-kix_lec2477ivtm7-1 {
  list-style-type: none;
}

ul.lst-kix_lec2477ivtm7-0 {
  list-style-type: none;
}

.lst-kix_qw52od1oyadm-6 > li:before {
  content: "\0025cf  ";
}

.lst-kix_lec2477ivtm7-0 > li:before {
  content: "\0027a2  ";
}

.lst-kix_qw52od1oyadm-4 > li:before {
  content: "\0025cb  ";
}

.lst-kix_qw52od1oyadm-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_qw52od1oyadm-5 > li:before {
  content: "\0025a0  ";
}

.lst-kix_qw52od1oyadm-1 > li:before {
  content: "\0025cb  ";
}

.lst-kix_qw52od1oyadm-2 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_d52h1clnbs3c-5 {
  list-style-type: none;
}

.lst-kix_qw52od1oyadm-0 > li:before {
  content: "\0027a2  ";
}

ul.lst-kix_d52h1clnbs3c-6 {
  list-style-type: none;
}

ul.lst-kix_d52h1clnbs3c-7 {
  list-style-type: none;
}

ul.lst-kix_d52h1clnbs3c-8 {
  list-style-type: none;
}

.lst-kix_lec2477ivtm7-8 > li:before {
  content: "\0025a0  ";
}

.lst-kix_s3odskcgmnn5-3 > li:before {
  content: "\0025cf  ";
}

.lst-kix_s3odskcgmnn5-2 > li:before {
  content: "\0025a0  ";
}

.lst-kix_s3odskcgmnn5-4 > li:before {
  content: "\0025cb  ";
}

ul.lst-kix_d52h1clnbs3c-0 {
  list-style-type: none;
}

ul.lst-kix_d52h1clnbs3c-1 {
  list-style-type: none;
}

ul.lst-kix_d52h1clnbs3c-2 {
  list-style-type: none;
}

ul.lst-kix_d52h1clnbs3c-3 {
  list-style-type: none;
}

ul.lst-kix_d52h1clnbs3c-4 {
  list-style-type: none;
}

.lst-kix_s3odskcgmnn5-7 > li:before {
  content: "\0025cb  ";
}

.lst-kix_s3odskcgmnn5-0 > li:before {
  content: "\0027a2  ";
}

.lst-kix_s3odskcgmnn5-8 > li:before {
  content: "\0025a0  ";
}

.lst-kix_s3odskcgmnn5-1 > li:before {
  content: "\0025cb  ";
}

ul.lst-kix_8z6y753bmshn-8 {
  list-style-type: none;
}

ul.lst-kix_8z6y753bmshn-7 {
  list-style-type: none;
}

.lst-kix_s3odskcgmnn5-6 > li:before {
  content: "\0025cf  ";
}

ul.lst-kix_8z6y753bmshn-4 {
  list-style-type: none;
}

.lst-kix_s3odskcgmnn5-5 > li:before {
  content: "\0025a0  ";
}

ul.lst-kix_8z6y753bmshn-3 {
  list-style-type: none;
}

ul.lst-kix_8z6y753bmshn-6 {
  list-style-type: none;
}

ul.lst-kix_8z6y753bmshn-5 {
  list-style-type: none;
}

ul.lst-kix_8z6y753bmshn-0 {
  list-style-type: none;
}

ul.lst-kix_8z6y753bmshn-2 {
  list-style-type: none;
}

ul.lst-kix_8z6y753bmshn-1 {
  list-style-type: none;
}

ul.lst-kix_7ewhrxfqlg08-0 {
  list-style-type: none;
}

ul.lst-kix_7ewhrxfqlg08-1 {
  list-style-type: none;
}

ul.lst-kix_7ewhrxfqlg08-4 {
  list-style-type: none;
}

ul.lst-kix_7ewhrxfqlg08-5 {
  list-style-type: none;
}

ul.lst-kix_7ewhrxfqlg08-2 {
  list-style-type: none;
}

ul.lst-kix_7ewhrxfqlg08-3 {
  list-style-type: none;
}

ul.lst-kix_7ewhrxfqlg08-8 {
  list-style-type: none;
}

ul.lst-kix_7ewhrxfqlg08-6 {
  list-style-type: none;
}

ul.lst-kix_7ewhrxfqlg08-7 {
  list-style-type: none;
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}

ol {
  margin: 0;
  padding: 0;
}

table td,
table th {
  padding: 0;
}

.c42 {
  border-right-style: solid;
  padding: 7.2pt 7.2pt 7.2pt 7.2pt;
  border-bottom-color: #ffffff;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #ffffff;
  vertical-align: top;
  border-right-color: #ffffff;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 165pt;
  border-top-color: #ffffff;
  border-bottom-style: solid;
}

.c28 {
  border-right-style: solid;
  padding: 7.2pt 7.2pt 7.2pt 7.2pt;
  border-bottom-color: #ffffff;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #ffffff;
  vertical-align: top;
  border-right-color: #ffffff;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  border-top-color: #ffffff;
  border-bottom-style: solid;
}

.c0 {
  margin-left: 36pt;
  padding-top: 6pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  text-align: left;
  margin-right: 15pt;
}

.c2 {
  color: #666666;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 1.2em;
  font-family: "Merriweather";
  font-style: normal;
}

.c23 {
  color: #666666;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 1em;
  font-family: "Open Sans";
  font-style: normal;
}
/*
.c29 {
  color: #b7b7b7;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Open Sans";
  font-style: normal;
}
*/
.c6 {
  padding-top: 16pt;
  padding-bottom: 0pt;
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
  margin-right: 15pt;
}
/*
.c30 {
  color: #2079c7;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Open Sans";
  font-style: normal;
}

.c18 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Merriweather";
  font-style: italic;
}
*/
.c14 {
  color: #2079c7;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 1.3em;
  font-family: "Open Sans";
  font-style: normal;
}

.c37 {
  color: #666666;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 1.2em;
  font-family: "Open Sans";
  font-style: normal;
}

.c43 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 1em;
  font-family: "Merriweather";
  font-style: normal;
}

.c21 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 1.2em;
  font-family: "Merriweather";
  font-style: italic;
}

.c32 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}

.c8 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 1.2em;
  font-family: "Open Sans";
  font-style: normal;
  opacity: 0.6;
}

.c12 {
  padding-top: 5pt;
  padding-bottom: 5pt;
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
  margin-right: 15pt;
}

.c36 {
  padding-top: 6pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
  margin-right: 15pt;
}

.c19 {
  padding-top: 30pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
  margin-right: 15pt;
}

.c15 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  text-align: left;
  margin-right: 15pt;
}

.c16 {
  padding-top: 16pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  text-align: left;
  margin-right: 15pt;
}

.c31 {
  padding-top: 0pt;
  padding-bottom: 6pt;
  line-height: 1;
  text-align: left;
  margin-right: 15pt;
}

.c5 {
  vertical-align: super;
  text-decoration-skip-ink: none;
  font-size: 1.1em;
  -webkit-text-decoration-skip: none;
  text-decoration: none;
}

.c10 {
  padding-top: 6pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  text-align: left;
  margin-right: 15pt;
  font-size: 0.8em;
}

.c9 {
  text-decoration: none;
  vertical-align: baseline;
  font-size: 1.2em;
  font-family: "Merriweather";
  font-style: normal;
}

.c38 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  text-align: left;
  margin-right: 15pt;
}

.c25 {
  padding-top: 16pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  text-align: justify;
  margin-right: 15pt;
}

.c39 {
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Open Sans";
  font-style: italic;
}

.c24 {
  text-decoration-skip-ink: none;
  font-family: "Open Sans";
  -webkit-text-decoration-skip: none;
  text-decoration: underline;
}

.c33 {
  color: #666666;
  text-decoration: none;
  font-family: "Merriweather";
  font-style: normal;
}

.c13 {
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}

.c22 {
  background-color: #ffffff;
  padding: 28.8pt 43.2pt 43.2pt 43.2pt;
}

.c41 {
  font-size: 1em;
  font-family: "Open Sans";
}

.c26 {
  color: #19dfd1;
  font-size: 1.2em;
  text-decoration: none !important;
}

.c26 a {
  text-decoration: none !important;
}

.c11 {
  vertical-align: super;
  font-size: 1.2em;
}

.c34 {
  vertical-align: baseline;
  font-size: 0.8em;
}

.c3 {
  padding: 0;
  margin: 0;
}

.c4 {
  font-weight: 700;
}

.c40 {
  font-style: italic;
  font-size: 1.2em;
}

.c17 {
  height: 588pt;
}

.c35 {
  height: 80pt;
}

.c20 {
  height: 9pt;
}

.c1 {
  color: #ff9900;
  font-size: 1.2em;
}

.c7 {
  font-weight: 400;
}

.c27 {
  font-size: 1.4em;
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-weight: 700;
  font-size: 3.5em;
  padding-bottom: 0.3em;
  font-family: "Merriweather";
  line-height: 1;
  text-align: left;
}

.subtitle {
  padding-top: 0pt;
  color: #000000;
  font-size: 1.5em;
  padding-bottom: 0pt;
  font-family: "Open Sans";
  line-height: 1.15;
  text-align: left;
}

li {
  color: #666666;
  font-size: 0.8em;
  font-family: "Merriweather";
}

p {
  margin: 0 !important;
  color: #666666;
  font-size: 0.9em;
  font-family: "Merriweather";
}

h1 {
  padding-top: 30pt;
  color: #2079c7;
  font-weight: 700;
  font-size: 0.9em;
  padding-bottom: 0pt;
  font-family: "Open Sans";
  line-height: 1;
  text-align: left;
}

h2 {
  padding-top: 16pt;
  color: #000000;
  font-weight: 700;
  font-size: 1.2em;
  padding-bottom: 0pt;
  font-family: "Merriweather";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}

h3 {
  padding-top: 5pt;
  color: #666666;
  font-size: 0.9em;
  padding-bottom: 5pt;
  font-family: "Open Sans";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}

h4 {
  padding-top: 8pt;
  -webkit-text-decoration-skip: none;
  color: #666666;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 0.8em;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.3;
  page-break-after: avoid;
  text-align: left;
}

h5 {
  padding-top: 8pt;
  color: #666666;
  font-size: 0.7em;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.3;
  page-break-after: avoid;
  text-align: left;
}

h6 {
  padding-top: 8pt;
  color: #666666;
  font-size: 0.6em;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.3;
  page-break-after: avoid;
  font-style: italic;
  text-align: left;
}

.AnImageSpan {
  overflow: hidden;
  display: inline-block;
  margin: 0px 0px;
  border: 0px solid #000000;
  transform: rotate(0rad) translateZ(0px);
  -webkit-transform: rotate(0rad) translateZ(0px);
  /*width: 46.16px;
  height: 24.23px;*/
  width: 50px;
  float: right;
}

.AnImageSpan img {
  /*width: 46.16px;
  height: 24.23px;*/

  width: 50px;
  margin-left: 0px;
  margin-top: 0px;
  transform: rotate(0rad) translateZ(0px);
  -webkit-transform: rotate(0rad) translateZ(0px);
}

.AnImageSpan2 {
  overflow: hidden;
  display: inline-block;
  margin: 0px 0px;
  border: 0px solid #000000;
  transform: rotate(0rad) translateZ(0px);
  -webkit-transform: rotate(0rad) translateZ(0px);
  /*width: 49.9px;
  height: 27.3px;*/
  width: 50px;
  float: right;
}

.AnImageSpan2 img {
  /*width: 49.9px;
  height: 27.3px;*/
  width: 50px;
  margin-left: 0px;
  margin-top: 0px;
  transform: rotate(0rad) translateZ(0px);
  -webkit-transform: rotate(0rad) translateZ(0px);
}

.AnImageSpan3 {
  overflow: hidden;
  display: inline-block;
  margin: 0px 0px;
  border: 0px solid #000000;
  transform: rotate(0rad) translateZ(0px);
  -webkit-transform: rotate(0rad) translateZ(0px);
  /*width: 33.49px;
  height: 33.49px;*/
  width: 25px;
  float: right;
  margin-right: 12px;
}

.AnImageSpan3 img {
  /*width: 33.49px;
  height: 33.49px;*/
  width: 30px;
  margin-left: 0px;
  margin-top: 0px;
  padding-right: 5px;
  transform: rotate(0rad) translateZ(0px);
  -webkit-transform: rotate(0rad) translateZ(0px);
}

.PseudoButton {
  padding: 0.5em;
  font-size: 0.3em;
  float: right;
  box-sizing: border-box;
  border: 1px solid #19dfd1;
  border-radius: 0.2em;
}

.PseudoButton a {
  color: #19dfd1;
}

.TopRightIcon {
  font-size: 1em;
  color: #014744;
  padding: 0.2em;
}
